body{
  background-image: url(https://images.pexels.com/photos/1294671/pexels-photo-1294671.jpeg?cs=srgb&dl=alley-architecture-buildings-1294671.jpg&fm=jpg);  
  background-size: contain;
  background-repeat: none;
}

h1 {
  text-align: center;
  font-family: Impact;
  color: white;
  font-size: 3em;
  margin-bottom: 0px;
  }

.toph2{
  color:white;
}

h2{
  text-align: center;
  font-family: Didact Gothic;
  color: #7e3b5c;
  font-size: 2em;
}

h3{
  margin-left:25px;
  font-family: Didact Gothic;
}

h4{
  margin-left:25px;
  font-family: Didact Gothic;
}

h5{
    margin-left:25px;
  font-family: Didact Gothic;
}

ul{
  margin-left:25px;
  font-family: Didact Gothic;
}

  

nav {
  text-align: center;
  background-color: #333;
  border-radius: 15px;
  width: 46%; 
  margin: 0 auto;
}

nav ul{
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  padding-top: 15px;
  padding-bottom: 15px;
}
 

nav a {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Didact Gothic; 
}

nav a:hover {
  background-color: #ddd;
  color: black;
}

nav a.active {
  background-color: #4CAF50;
  color: white;
}



main{
  background-color: rgba(204, 204, 204, .9);
  border-radius: 15px; 
  margin: 25px;
  background-size: cover;
}

p {
  font-family: Didact Gothic;
  margin: 25px;
  font-size: 1.25rem;
}

aside {
  margin: 0 auto;
  text-align: center;
  background-color: rgba(204, 204, 204, .9);
  border-radius: 15px; 
  width: 35%;
  font-family: Didact Gothic;
}
dl{
  tes
}
dt{
  text-align: center;
  font-family: Didact Gothic;
  
}

dd{
  text-align: center;
  font-family: Didact Gothic;
  color: #7e3b5c;
  margin: 0;
}

footer{
  color: white;
  left-margin: 25px;
}

nav ul li a.active-page {
  background-color: rgba(204, 204, 204, .9);
  color: black;
}



.social-icons{
  margin: 50px;
  font-size: 4rem;
  text-align: right;
  clear: both;
}

.social-icons a {
text-decoration: none;
  color: #7e3b5c;
  margin: 10px;
}

.sectiontitle{
  font-size: 2em;
  font-weight: bold;
}
 .organization {
   font-size: 20px;
   margin-top: 0px;
}
.location{
  color:#7e3b5c;
}

.position {
  font-size: 20px;
  font-style: italic;
}
.dates {
  text-align: right;
  color:#7e3b5c;
  margin-bottom: 0px;
}

abbr [title] {
  text-decoration: none;
}




